/* button css */
/* button({className: `bttn text-button1 no-underline transition duration-300 ease-in-out focus:text-white hover:text-white border border-button1 text-sm tracking-tighter uppercase inline-block text-center font-bold py-2 px-4 rounded box shadow-md relative`}) */
.bttn {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    text-decoration:none;
    -webkit-transition:0.3s all ease;
    transition:0.3s ease all;
    letter-spacing:2px;
    text-transform:uppercase;
    border-radius: 2px;
    text-align:center;
    padding: 0.5rem 1rem;
    position:relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);

    &:hover {
        color: #FFF;
        z-index: 2;
        &:before {
            -webkit-transition:0.5s all ease;
            transition:0.5s all ease;
            left:0;
            right:0;
            opacity:1;
        }       
    }
    &:before {
        -webkit-transition:0.5s all ease;
        transition:0.5s all ease;
        position:absolute;
        top:0;
        left:50%;
        right:50%;
        bottom:0;
        opacity:0;
        content:'';
        z-index:-1;
    }
}



/* export const btn = `flex bttn text-button1 no-underline transition duration-500 ease-out hover:text-white tracking-tighter uppercase justify-center w-56 text-sm font-bold border-2 border-button1 py-2 px-4 rounded box shadow-md relative hover:z-10` */
/* button({className: `${btn}`})  */

/* .bttn:focus, */

// show more button
.bttnButton1 {
    color:var(--button1);
    border:2px solid var(--button1);
    &:before {
        background-color:var(--button1);
    }
}
.bttnButton2 {
    color:var(--button2);
    border:2px solid var(--button2);
    &:before {
        background-color:var(--button2);
    }
}
.bttnButton3 {
    color:var(--button3);
    border:2px solid var(--button3);
    &:before {
        background-color:var(--button3);
    }
}

// angelina cad home
.bttnButton2:before {
background-color:var(--button2);
}

// angelina cad map

  /* .bttn:focus::before {
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
  } */
  
  

